:host {
  position: relative;
}

.square {
  position: absolute;
  touch-action: none; // to prevent the browser from panning when the user drags with a touch pointer
  user-select: none; // to disable text selection
  $opacity: .6;

  &.square-1 {
    background-color: rgba(0, 0, 255, $opacity);
  }

  &.square-2 {
    background-color: rgba(255, 0, 0, $opacity);
  }
}
